.container-body {
  padding: 1.5rem;
  line-height: 1.6;
  text-align: justify;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/* Slides */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

/* Imagens dos banners */
.swiper-slide img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  display: block;
}


/* Destaque do slide central */
.swiper-slide-active {
  transform: scale(1.15);
  opacity: 1;
  z-index: 3;
}

.swiper-slide-prev,
.swiper-slide-next {
  transform: scale(0.9);
  opacity: 0.5;
  z-index: 2;
}

.swiper-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;       /* ocupa toda a largura do carousel */
  max-width: 400px;  /* opcional: controla a largura do conjunto */
 margin: 0.5rem auto 2rem auto; /* 0.5rem do banner, 2rem debaixo */
  gap: 1rem;       
}

/* Setas de navegação */
.swiper-button-next,
.swiper-button-prev {
  width: 44px;
  height: 44px;
  color: #01204C;
  position: static; /* tira do overlay do Swiper */
  transform: none;  /* remove transform */
}

/* Paginação */
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #3AA3FC;
  opacity: 0.5;
  margin: 0 4px;
}


.swiper-pagination-bullet-active {
  opacity: 1;
}


.swiper-button-prev {
  left:30%;
}

.swiper-button-next {
  right: 30%;
}



@media (max-width: 768px) {
  .container-body {
    padding: 2.5rem 4rem;
  }

  .swiper-slide img {
    max-width: 90%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none; /* no mobile usa swipe */
  }
}
