.container-body {
  padding: 1.5rem;
  line-height: 1.6;
  text-align: justify;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 900px;
}

/* Container principal do Swiper */
.swiper {
  width: 100%;
  padding-bottom: 1rem; /* espaço para paginação */
}

/* Slides */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

/* Imagens dos banners */
.swiper-slide img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  display: block;
}

/* Destaque do slide central */
.swiper-slide-active {
  transform: scale(1.15);
  opacity: 1;
  z-index: 3;
}

.swiper-slide-prev,
.swiper-slide-next {
  transform: scale(0.9);
  opacity: 0.5;
  z-index: 2;
}

/* Paginação */
.swiper-pagination {
  position: relative;
  margin-top: 0.3rem;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #3AA3FC;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

/* Setas de navegação */
.swiper-button-next,
.swiper-button-prev {
  width: 44px;
  height: 44px;
  color: #01204C;
  top: auto;               /* remove alinhamento automático */
  bottom: 0.1rem;          /* mesma linha dos bullets */
  transform: translateY(0);
}

/* Posicionamento das setas fora do banner */
.swiper-button-prev {
  left: calc(50% - 120px);
}

.swiper-button-next {
  right: calc(50% - 120px);
}


@media (max-width: 768px) {
  .container-body {
    padding: 2.5rem 4rem;
  }

  .swiper-slide img {
    max-width: 90%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none; /* no mobile usa swipe */
  }
}
