/* Reset básico */
main * {
  box-sizing: border-box;
  font-family: "Mada";
}


body {
	background-color: #f9f9f9;
	color: #333;
	line-height: 1.6;
}

main {
	padding: 40px 20px;
}

.container.noticia-especifica {
	max-width: 800px;
	margin: 0 auto;
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.titulo-noticia {
	font-size: 2rem;
    font-weight: bold;
	color: #060B3F;
	margin-bottom: 20px;
	text-align: center;
}

.img_noticias {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 20px 0;
}

.img-noticia {
	width: 100%;
	height: auto;
	border-radius: 8px;
	object-fit: cover;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.texto-noticia-esp {
	font-size: 1.1rem;
	margin-bottom: 20px;
	text-align: justify;
}

.noticia-especifica-botoes {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 20px;
	justify-content: center;
}

.botaoGenerico {
	background-color: #007BFF;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.botaoGenerico:hover {
	background-color: #0056b3;
}

.voltar {
	margin-top: 30px;
	text-align: center;
}

.button-back {
	background-color: #060B3F;;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.button-back:hover {
	background-color: #5a6268;
}
