main .container {

  margin: 40px auto;

  width: 80%;

}

.container-body {
  line-height: 1.6;
  text-align: justify;
  padding: 50px 60px;

  p {
    font-size: 20px;
    font-weight: medium;
  }
}

/* <<<Estilização dos campos de busca>>> */


/* ========== Bloco filtro ========== */
.filtro {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.filtro__form {
  display: flex;
  flex-direction: column;
}

.filtro__field {
  display: flex;
  flex-direction: column;
}

.filtro__label {
  font-size: calc((12px + 0.25vw) * 0.875);
  font-weight: 700;
  letter-spacing: 4px;
  margin: 10px 0;
  text-transform: uppercase;
}

.filtro__input {
  background: none;
  border: 1px solid #626689;
  border-radius: 6px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  padding: 14px;
  outline: none;
  width: 100%;
  
  
}

/* Ações / botão */
.filtro__actions {
  display: flex;
  flex-direction: column;
}

.filtro__button {
  background: none;
  border: 1px solid var(--gray-border);
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  margin: auto 0;
  padding: 12px;
  transition: 0.2s ease-in-out;
  width: 50px;
}

.filtro__icon {
  display: block;
  width: 100%;
  height: auto;
}


/* <<<Estilização das notícias>>> */


/* Lista de notícias */
.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.news-list__item {
  padding: 4px;
}

/* Card principal */
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Detalhes de topo */
.card__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card__meta {
  display: flex;
  flex-direction: column;
}

.card__meta--title {
  max-width: 600px;
  width: 40%;
}

.card__meta--share {
  align-items: center;
  width: 15%;
}

/* Título e link */
.card__title {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}

.card__link {
  text-decoration: none;
  color: var(--primary);
}

/* Compartilhamento */
.card__share-label {
  font-size: calc((12px + 0.25vw) * 0.875);
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0 0 20px;
  text-transform: uppercase;
  text-align: center;
}

.card__share-links {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.card__share-link img {
  width: 20px;
  height: 20px;
}

/* Corpo do card */
.card__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Resumo */
.card__resume {
  margin-bottom: 16px;
}

.card__resume-title {
  font-size: calc((12px + 0.25vw) * 0.875);
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.card__resume-text {
  margin: 0;
}

/* Data de publicação */
.card__date {
  font-size: 14px;
  font-style: italic;
}

.card__date time {
  font-weight: 500;
}

/* Linhas separadoras */
.card__line {
  width: 100%;
  height: 1px;
  margin: 10px 0;
}

.card__line--gray {
  background: #9d9dc4;
}

/* <<<Estilização da paginação>>> */
main .container .pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

main .container .pagination .numbers div,
main .container .pagination .prev,
main .container .pagination .next {
  align-items: center;
  background: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  height: 25px;
  justify-content: center;
  margin: 0 4px;
  padding: 8px;
  width: 25px;
}

main .container .pagination .numbers {
  display: flex;
}

.resultados{

  text-align: center;

  padding-bottom: 16vh;

} 
