/* .menu-lateral{
    
} */


#title-documents{
    font-weight: 600;
    font-size: 4em;
    text-decoration: none; /* Remove o sublinhado padrão */
    display: inline-block;
    border-bottom: 5px solid rgb(36, 163, 248); /* Cria o novo sublinhado */
    width: 55px;
    


    color: #01204C;
    margin-bottom: 30px;
}
.planejamentos{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px 20px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 24px;
}

.planejamento-card {
    width: 100%;
    margin-bottom: 15px;
    background: #fff;
    gap:300px;
    padding: 24px 32px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.planejamento-left{
    display: flex;
    align-items: center;
    gap:20px;
}


.documents-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8F0FB;
    border-radius: 5px;
    width: 80px;
    height: 80px;
}

.documents-icon img{
    width: 50px;
    height: 50px;
}


/* .planejamento-card:hover{
    transform: translateY(-2px);
} */

.planejamento-info h2{
    margin: 0;
    padding: 10px;
    font-size: 1.5rem;
}

.planejamento-info p{
    padding-left: 10px;
    margin-top: 8px;
    color: #666;
}

.btn-documento{
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    background: #0066cc;
}